<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to guestbook</h1>
    <div>
      <a href="/read">read notes</a>
    </div>
    <div>
      <a href="/write">Write a note</a>
    </div>
  </body>
</html>
