<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Read note</title>
  </head>
  <body>
    <h1>Notes by others</h1>
    <ul>
      <% notes.map((note) => { %>
      <li><%= note.author %></li>
      <% }) %>
    </ul>
  </body>
</html>
